apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-operator
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    spec:
      enableServiceLinks: false
      containers:
        - name: redis-operator
          image: ghcr.io/saremox/redis-operator:v1.4.0
          imagePullPolicy: IfNotPresent
          securityContext:
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
      restartPolicy: Always
