name: CI

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Build redis-operator
        run: go build -v ./cmd/redisoperator

  check:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.0
          args: --timeout=15m

  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: make ci-unit-test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: false

  integration-test:
    name: Integration test
    runs-on: ubuntu-22.04
    needs: [check, unit-test]
    strategy:
      matrix:
        kubernetes: [1.32.0, 1.33.1, 1.34.0]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Install conntrack
        run: sudo apt-get install -y conntrack
      - uses: medyagh/setup-minikube@v0.0.21
        with:
          kubernetes-version: ${{ matrix.kubernetes }}
          minikube-version: 1.37.0
          driver: none
      - name: Add redisfailover CRD
        run: kubectl create -f manifests/databases.spotahome.com_redisfailovers.yaml
      - run: make ci-integration-test

  chart-test:
    name: Chart testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.7.2
      - name: Helm test
        run: make helm-test

  docker:
    name: Docker build
    runs-on: ubuntu-latest
    needs: [build, unit-test]
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        # This is kinda hacky, but it's the simplest way to get the lowercase repo name https://github.com/orgs/community/discussions/25768
      - name: downcase REPO
        run: |
          echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/app/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: false
          tags: ghcr.io/${{ env.REPO }}:${{ github.sha }}